body {
    background-color: rgb(239, 241, 244);
    background-size: 100vw;
    overflow: hidden;
    font-family: "Muli", sans-serif;
    font-weight: 500;
    font-size: 13px !important ;
    font-weight: bold;
}

.admin {
    overflow: scroll !important;
}

.filtros {
    height: 50vh;
}

.header-base {
    background-color: rgb(239, 241, 244);
    font-family: "Muli", sans-serif;
    font-weight: 500;
}

#mainLG {
    background-color: rgb(239, 241, 244);
}

.scroll-reminders::-webkit-scrollbar {
    display: none;
}
.scroll-post::-webkit-scrollbar {
    display: none;
}
.scrollable::-webkit-scrollbar {
    display: none;
}

.buttons-header {
    background-color: rgb(255, 255, 255);
    border-color: rgb(98, 224, 195);
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    padding: 1px;
    font-weight: 500;
    color: rgb(58, 193, 162);
}

.border-turq {
    border-color: rgb(98, 224, 195);
}

.bg-lightGrey {
    background-color: rgb(239, 241, 244);
}
.color-lightGrey {
    color: rgb(98, 224, 195);
}
/* Home */
.scroll-post {
    font-family: "Muli", sans-serif;
}

.border-botBlue {
    border-bottom: solid 1px rgb(120, 188, 173);
}

.chat {
    height: 39vh;
}

.Tasks {
    height: 90vh;
}
.reminderBox {
    height: 50vh;
    overflow-x: hidden;
}

.reminder-li {
    font-size: 13px;
}
.posts {
    height: 90vh;
}

.scroll-reminders {
    height: 85%;
    overflow-y: scroll;
    overflow-x: hidden;
    word-break: break-all;
}

.scroll-post {
    height: 97%;
}

.button-add-reminder {
    height: 40px;
}

.button-actions {
    border: solid 2px rgb(120, 188, 173);
    height: 40px;
}

.div-actions {
    height: 100px;
}

.day-calendar {
    background-color: rgb(233, 236, 239);
}

.button-reminder {
    color: rgb(98, 224, 195);

    height: 25px;
}

#tasksBox {
    height: 94%;
}

.scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
    word-break: break-all;
}

.postInfo {
    font-family: "Muli", sans-serif;
    font-size: 10px;
    font-style: italic;
}

.postMessage {
    font-family: "Muli", sans-serif;
    font-size: 12px;
    line-height: 1.1;
}

.postImage {
    width: 100%;
}

.taskMessage {
    font-family: "Muli", sans-serif;
    font-size: 13px;
}

.taskFooter {
    font-family: "Muli", sans-serif;
    font-size: 8px;
    text-transform: uppercase;
}

@media (max-width: 700px) {
    .scrollable {
        height: 60vh;
        overflow-y: scroll;
    }

    .scroll-reminders {
        height: 80vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .scroll-tasks {
        height: 80vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

/* Fin Home */
